<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
<div *ngIf="product" class="d-flex justify-content-center mt-5">
<form [formGroup]="updateProduct" (ngSubmit)="onSubmit(product.id!)">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom</label>
    <input type="text" formControlName="nom" class="form-control" id="nom" aria-describedby="nom" placeholder="{{product.nom}}" >
  </div>
  <div class="mb-3">
    <label for="prix" class="form-label">Prix</label>
    <input type="number" formControlName="prix" class="form-control" id="prix" placeholder="{{product.prix}}" >
  </div>
  <div class="mb-3">
    <label class="form-label" for="quantite">Quantité</label>
    <input type="text" formControlName="quantite" class="form-control" id="quantite" placeholder="{{product.quantite}}">
    
  </div>
  <div *ngIf="categoriesToDisplay">
  <select class="form-select" formControlName="id_categorie" id="id_categorie" aria-label="Default select example">
  <option selected value="">Catégorie</option>
  <option *ngFor="let cat of categoriesToDisplay" value="{{cat.id}}">{{cat.nom}}</option>
  
</select></div>
  <button type="submit" class="btn btn-primary mt-2" [disabled]="!updateProduct.valid">Modifier</button>
</form>
</div>
